<div class="mx-auto mt-6 max-w-6xl rounded-lg bg-white p-6 shadow-lg shadow-black/10">
  <h2 class="mb-4 text-center text-3xl font-semibold">
    @if (formUsage === 'create') {
      Create a Shipment
    } @else {
      Update Shipment
    }
  </h2>

  @if (isLoading) {
    <app-loading-spinner />
  }

  <div class="mb-5">
    @if (errorMessage) {
      <app-error-alert [errorMessage]="errorMessage" />
    }
  </div>

  <div class="mb-5">
    @if (uiErrorMessage) {
      <app-error-alert [errorMessage]="uiErrorMessage" />
    }
  </div>

  <form [formGroup]="shipmentForm" (ngSubmit)="onSubmitClick()">
    <!-- Quote Dropdown -->
    <div class="mb-6">
      <label for="quoteId" (click)="onClickFocusQuoteIdSelect()" class="mb-1 block">
        <span class="text-danger mr-1 text-sm">*</span>Quote
      </label>
      <ng-select
        #quoteIdSelect
        class="tw-select"
        placeholder="Search a Quote"
        bindLabel="number"
        bindValue="id"
        formControlName="quoteId"
        loadingText="Loading Quotes..."
        notFoundText="No results"
        [items]="quotesList"
        [loading]="quotesLoading"
        [typeahead]="quoteSearch$"
        [searchable]="true"
        [clearable]="true"
      />

      @if (quoteId.invalid && (quoteId.dirty || quoteId.touched)) {
        <div>
          @if (quoteId.hasError('required')) {
            <span class="text-danger mt-1 ml-1 text-sm">Quote is required</span>
          }
        </div>
      }
    </div>

    <!-- Pickup -->
    <div class="mb-6">
      <app-main-input
        type="datetime-local"
        formControlName="pickup"
        label="Pickup"
        [showRequiredStar]="true"
      />
    </div>

    <!-- Driver -->
    <div class="mb-6">
      <label for="driverId" (click)="onClickFocusDriverIdSelect()" class="mb-1 block">
        Driver
      </label>
      <ng-select
        #driverIdSelect
        class="tw-select"
        placeholder="Search a Driver"
        bindLabel="fullName"
        bindValue="id"
        formControlName="driverId"
        loadingText="Loading Drivers..."
        notFoundText="No results"
        [items]="driversList"
        [loading]="driverLoading"
        [typeahead]="driverSearch$"
        [searchable]="true"
        [clearable]="true"
      />
    </div>

    <!-- Truck & Trailer -->
    <div class="mb-6 flex flex-col gap-6 sm:flex-row sm:gap-4">
      <div class="flex-1">
        <label for="truckId" (click)="onClickFocusTruckIdSelect()" class="mb-1 block">
          Truck
        </label>
        <ng-select
          #truckIdSelect
          class="tw-select"
          placeholder="Search a Truck"
          bindLabel="plate"
          bindValue="id"
          formControlName="truckId"
          loadingText="Loading Trucks..."
          notFoundText="No results"
          [items]="truckList"
          [loading]="truckLoading"
          [typeahead]="truckSearch$"
          [searchable]="true"
          [clearable]="true"
        />
      </div>

      <div class="flex-1">
        <label for="trailerId" (click)="onClickFocusTrailerIdSelect()" class="mb-1 block">
          Trailer
        </label>
        <ng-select
          #trailerIdSelect
          class="tw-select"
          placeholder="Search a Trailer"
          bindLabel="plate"
          bindValue="id"
          formControlName="trailerId"
          loadingText="Loading Trailer..."
          notFoundText="No results"
          [items]="trailerList"
          [loading]="trailerLoading"
          [typeahead]="trailerSearch$"
          [searchable]="true"
          [clearable]="true"
        />
      </div>
    </div>

    <!-- Cargo Items -->
    <div class="mb-6">
      <div class="mb-6 flex justify-between">
        <!-- Header -->
        <h3 class="text-lg font-semibold">Cargo Items</h3>
        <app-rounded-icon-button
          icon="lucidePlus"
          color="success"
          type="button"
          (clicked)="onClickAddCargoItem()"
        />
      </div>

      <!-- Cargo Items Cards -->
      <div formArrayName="cargoItems" class="flex flex-col gap-4">
        @for (item of cargoItems.controls; track item; let i = $index) {
          <div [formGroupName]="i">
            <!-- Card Header -->
            <div class="mb-2 flex justify-between">
              <h4 class="font-light text-gray-700">#Cargo Item {{ i + 1 }}</h4>
              <app-rounded-icon-button
                type="button"
                icon="lucideTrash"
                color="danger"
                (clicked)="onClickRemoveCargoIndex(i)"
              />
            </div>

            <!-- Fields -->
            <div class="flex gap-4">
              <!-- Description -->
              <app-main-input
                formControlName="description"
                label="Description"
                placeholder="Pallet"
                type="text"
                [showRequiredStar]="true"
              />

              <!-- Units Dropdown -->
              <div>
                <label [for]="'unit' + i">
                  <span class="text-danger mr-1 text-sm">*</span>
                  Unit
                </label>
                <select
                  formControlName="unit"
                  [id]="'unit' + i"
                  class="focus:ring-primary-200 w-full rounded border border-gray-300 px-4 py-2.5 text-gray-700 focus:ring focus:outline-none"
                >
                  <option [ngValue]="null" disabled selected>Select a unit</option>

                  @for (unit of cargoItemsUnits; track $index) {
                    <option [ngValue]="unit | lowercase">{{ unit | titlecase }}</option>
                  } @empty {
                    <option disabled>No units are available</option>
                  }
                </select>

                @if (
                  getCargoItemUnitControl(i).invalid &&
                  (getCargoItemUnitControl(i).dirty || getCargoItemUnitControl(i).touched)
                ) {
                  <div>
                    @if (getCargoItemUnitControl(i).hasError('required')) {
                      <span class="text-danger ml-1 text-sm">Unit is required</span>
                    }
                  </div>
                }
              </div>

              <!-- Quantity -->
              <app-main-input
                formControlName="quantity"
                label="Quantity"
                placeholder="1"
                type="number"
                min="1"
                patternErrorMessage="must by a number"
                [showRequiredStar]="true"
              />

              <!-- Weight -->
              <app-main-input
                formControlName="weightKg"
                label="Weight (KG)"
                placeholder="200"
                type="text"
                patternErrorMessage="must by a number"
                [showRequiredStar]="true"
              />

              <!-- Volume -->
              <app-main-input
                formControlName="volumeM3"
                label="Volume (m³)"
                placeholder="200"
                type="text"
                patternErrorMessage="must by a number"
              />
            </div>
          </div>
        }
      </div>
    </div>

    <!-- Notes -->
    <div class="mb-6">
      <label for="notes" class="mb-1 block">Notes</label>
      <textarea
        formControlName="notes"
        id="notes"
        cols="30"
        rows="10"
        class="focus:ring-primary-200 placeholder:text-body w-full resize-none rounded border border-gray-300 px-4 py-2 text-gray-700 focus:ring focus:outline-none"
      ></textarea>
    </div>

    <!-- Button -->
    @if (formUsage === 'create') {
      <app-primary-button value="Create Shipment" />
    } @else {
      <app-primary-button value="Update Shipment" />
    }
  </form>
</div>
