<table class="text-body w-full text-left text-sm rtl:text-right">
  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  }
  <thead class="text-body bg-secondary-700 text-sm text-white">
    <tr>
      <th scope="col" class="p-4"></th>
      <th scope="col" class="px-2 py-3 font-medium">First Name</th>
      <th scope="col" class="px-2 py-3 font-medium">Last Name</th>
      <th scope="col" class="truncate px-2 py-3 font-medium">Email</th>
      <th scope="col" class="px-2 py-3 font-medium">Phone</th>
      <th scope="col" class="px-2 py-3 font-medium">Status</th>
      <th scope="col" class="px-2 py-3 font-medium">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track user.id) {
      <tr
        [ngClass]="[
          'hover:bg-secondary-200 hover:cursor-pointer',
          selectedUserIds.has(user.id) ? 'bg-secondary-200' : 'bg-white',
        ]"
        (click)="onRowClick(user.id)"
      >
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              type="checkbox"
              [checked]="selectedUserIds.has(user.id)"
              (click)="onCheckboxClick($event, user.id)"
              class="h-4 w-4 rounded-xs border accent-blue-600"
            />
            <label for="table-checkbox-22" class="sr-only">Table checkbox</label>
          </div>
        </td>
        <td class="px-2 py-4">{{ user.firstName }}</td>
        <td class="px-2 py-4">{{ user.lastName }}</td>
        <td class="px-2 py-4">{{ user.email }}</td>
        <td class="px-2 py-4">{{ user?.phone || '-' }}</td>
        <td class="px-2 py-4">
          @if (user.status === 'ACTIVE') {
            <span class="bg-success-light text-success-dark rounded border px-2">{{
              user.status
            }}</span>
          } @else if (user.status === 'INVITED') {
            <span class="bg-info-light text-info-dark border-info rounded border px-2">{{
              user.status
            }}</span>
          } @else if (user.status === 'SUSPENDED') {
            <span class="bg-danger-light text-danger-dark border-danger rounded border px-2">{{
              user.status
            }}</span>
          } @else {
            <span class="px-2">{{ user.status || '-' }}</span>
          }
        </td>
        <td class="px-2 py-4">
          <a [routerLink]="['edit-user', user.id]" class="text-fg-brand font-medium hover:underline"
            >Edit</a
          >
        </td>
      </tr>
    } @empty {
      <tr>
        <td class="w-full py-4 text-center text-lg" colspan="7">There are no users</td>
      </tr>
    }
  </tbody>
</table>
