<section class="flex min-h-screen items-center justify-center">
  @if (isLoading) {
    <app-loading-spinner />
  }
  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
    <!-- Language Switcher -->
    <div class="mb-2 flex justify-end">
      <app-language-switcher />
    </div>

    <h2 class="mb-4 text-center text-3xl font-semibold">{{ 'auth.login.title' | translate }}</h2>
    <div class="mb-5">
      @if (loginFailed) {
        <app-error-alert [errorMessage]="errorMessage | translate" />
      }
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <app-main-input label="Email" placeholder="Email" type="email" formControlName="email" />
      </div>
      <div class="mb-1">
        <app-main-input
          [label]="'auth.password' | translate"
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="mb-6 text-right">
        <a
          routerLink="/forgot-password"
          class="text-primary-400 text-sm font-medium hover:underline"
          >{{ 'auth.forgot-password.title' | translate }}</a
        >
      </div>
      <app-primary-button [value]="'auth.login.button' | translate" [isDisabled]="isLoading" />
    </form>
  </div>
</section>
