@if (isLoading) {
  <app-loading-spinner />
}

@if (errorMessage) {
  <app-error-alert [errorMessage]="errorMessage" />
}

@if (shipment) {
  <section class="mt-4">
    <div class="flex flex-wrap items-center justify-between">
      <div>
        <h2 class="text-2xl leading-loose font-black sm:text-3xl lg:text-4xl">
          Shipment Number: {{ shipment.number }}
        </h2>
        <p>
          <span class="font-light text-zinc-500">Pickup --</span>
          {{ shipment.pickup | date: 'EEEE, MMM d, y · h:mm a' }}
        </p>
      </div>
      <div>
        <span
          class="rounded border p-2 capitalize"
          [ngClass]="shipmentStatusBadgeColor(shipment.status)"
          >{{ shipment.status }}</span
        >
      </div>
    </div>

    <div class="border-primary-500 my-4 rounded border-2"></div>

    <!-- <div
      class="grid grid-cols-1 divide-x divide-y rounded border border-zinc-500 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    > -->
    <div
      class="grid grid-cols-1 divide-x divide-zinc-300 overflow-hidden rounded border border-zinc-300 sm:grid-cols-2 lg:grid-cols-4"
    >
      <div class="border-b border-zinc-300 p-5 text-center lg:border-b-0">
        <p class="mb-1 text-sm text-zinc-500 uppercase">Quote Number</p>
        <p>{{ shipment.quote.number }}</p>
      </div>
      <div class="border-b border-zinc-300 p-5 text-center lg:border-b-0">
        <p class="mb-1 text-sm text-zinc-500 uppercase">Driver</p>
        <p>{{ shipment.driver?.fullName || '- Unassigned' }}</p>
      </div>
      <div class="border-b border-zinc-300 p-5 text-center lg:border-b-0">
        <p class="mb-1 text-sm text-zinc-500 uppercase">Truck</p>
        <p>{{ shipment.truck?.plate || '- Unassigned' }}</p>
      </div>
      <div class="border-b border-zinc-300 p-5 text-center lg:border-b-0">
        <p class="mb-1 text-sm text-zinc-500 uppercase">Trailer</p>
        <p>{{ shipment.trailer?.plate || '- Unassigned' }}</p>
      </div>
    </div>

    <div class="mt-4">
      <div class="mb-1 flex items-center gap-4">
        <h3 class="text-zinc-500 uppercase">Notes</h3>
        <div class="bg-primary-500 h-0.5 w-1/2 sm:w-1/4"></div>
      </div>

      <p class="w-full max-w-lg rounded border border-zinc-300 py-2 pl-2">
        {{ shipment.notes || 'No notes available' }}
      </p>
    </div>
  </section>
}
