<div class="mx-auto mt-6 max-w-xl rounded-lg bg-white p-6 shadow-lg shadow-black/10">
  <h2 class="mb-4 text-center text-3xl font-semibold">
    @if (formUsage === 'create') {
      Create a User
    } @else {
      Update User
    }
  </h2>

  @if (isLoading || roleIsLoading) {
    <app-loading-spinner />
  }

  <div class="mb-5">
    @if (errorMessage) {
      <app-error-alert [errorMessage]="errorMessage" />
    }
  </div>

  <div class="mb-5">
    @if (roleErrorMessage) {
      <app-error-alert [errorMessage]="roleErrorMessage" />
    }
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <app-main-input
        formControlName="firstName"
        label="First Name"
        placeholder="First Name"
        type="text"
        [showRequiredStar]="true"
      ></app-main-input>
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="lastName"
        label="Last Name"
        placeholder="Last Name"
        type="text"
        [showRequiredStar]="true"
      ></app-main-input>
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="email"
        label="Email"
        placeholder="Email"
        type="email"
        [showRequiredStar]="true"
      ></app-main-input>
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="phone"
        label="Phone"
        placeholder="Phone"
        type="text"
      ></app-main-input>
    </div>

    <div class="mb-6">
      <label for="role"><span class="text-danger mr-1 text-sm">*</span>Role</label>
      <select
        formControlName="roleId"
        id="role"
        class="focus:ring-primary-200 w-full rounded border border-gray-300 px-4 py-2 text-gray-700 focus:ring focus:outline-none"
      >
        <option [ngValue]="null" disabled>Select a role</option>

        @for (role of roles; track role.id) {
          <option [ngValue]="role.id">{{ role.name }}</option>
        } @empty {
          <option disabled>No roles available</option>
        }
      </select>
      @if (roleId.invalid && (roleId.dirty || roleId.touched)) {
        <div>
          @if (roleId.hasError('required')) {
            <span class="text-danger ml-1 text-sm">Role is required</span>
          }
        </div>
      }
    </div>
    @if (formUsage === 'create') {
      <app-primary-button value="Create User" [isDisabled]="isLoading"></app-primary-button>
    } @else {
      <app-primary-button value="Update User" [isDisabled]="isLoading"></app-primary-button>
    }
  </form>
</div>
