# Spring Active Profile
SPRING_PROFILES_ACTIVE=dev

# Database Connection
DB_HOST=localhost
DB_NAME=logistics_platform
DB_USERNAME=root
DB_PASSWORD=root

# Flyway
FLYWAY_USER=flyway
FLYWAY_PASSWORD=flyway

# Spring Security
SPRING_SECURITY_USERNAME=user
SPRING_SECURITY_PASSWORD=admin

# JWT
# Generate with: openssl rand -base64 64
JWT_SECRET=""

# Token for reset password expiration time
RESET_PASSWORD_TOKEN_EXPIRATION="30m"

# Expiration time for create password token
SETUP_PASSWORD_TOKEN_EXPIRATION="48h"

# Mail
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME= # your mail username
MAIL_PASSWORD= # your mail password

# Other mail
NO_REPLY_MAIL="Logistics Platform <no-reply@logistics.com>"
SUPPORT_MAIL="Support <support@logistics.com>"
DISPLAY_NAME="Logistics Platform"

# Company
COMPANY_NAME="Helios Logistics S.A."
COMPANY_SLOGAN="Reliable & Secure Transport Solutions"
COMPANY_LOCATION="Athens, Greece"
COMPANY_PHONES="+30 210 0000000"
COMPANY_MAIL="info@helios-logistics.example"
COMPANY_WEBSITE_URL="https://helios-logistics.example"
COMPANY_REPRESENTATIVE="John Doe"
COMPANY_REPRESENTATIVE_TITLE="Legal Representative"

# Frontend
FRONTEND_URL="http://localhost:4200"

# Tax
TAX_VAT=24 # Percentage e.g 24

# AWS
AWS_REGION="eu-central-1"

# Minio
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_ENDPOINT="http://localhost:9000"
MINIO_BUCKET_NAME="quotes-pdf-bucket"