# Database Connection
DB_HOST=localhost
DB_NAME=logistics_platform
DB_USERNAME=root
DB_PASSWORD=root

# Spring Security
SPRING_SECURITY_USERNAME=user
SPRING_SECURITY_PASSWORD=admin

# JWT
# Generate with: openssl rand -base64 64
JWT_SECRET=""

# Token for reset password expiration time
TOKEN_EXPIRES_IN="30m"