# Database Connection
DB_HOST=localhost
DB_NAME=logistics_platform
DB_USERNAME=root
DB_PASSWORD=root

# Spring Security
SPRING_SECURITY_USERNAME=user
SPRING_SECURITY_PASSWORD=admin

# Frontend URL
FRONTEND_URL: https://frontend-mydomain.com

# JWT
# Generate with: openssl rand -base64 64
JWT_SECRET=""

# Token for reset password expiration time
TOKEN_EXPIRES_IN="30m"

# Mail
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME= # your mail username
MAIL_PASSWORD= # your mail password

# Other mail
NO_REPLY_MAIL="Logistics Platform <no-reply@logistics.com>"
SUPPORT_MAIL="Support <support@logistics.com>"
DISPLAY_NAME="Logistics Platform"