<div class="flex items-center justify-between space-x-4 p-4">
  <app-search-bar
    [placeholder]="'customers.search-by-tin-or-company-name' | translate"
    [value]="searchTerm"
    (valueChange)="onSearchChange($event)"
  />

  <div class="flex items-center gap-6">
    <div class="flex items-center gap-4">
      <!-- Add -->
      <app-rounded-icon-button (clicked)="onCreateCustomer()" icon="lucidePlus" color="success" />

      <!-- Refresh -->
      <app-rounded-icon-button
        (clicked)="loadCustomers()"
        [isDisabled]="isLoading"
        icon="lucideRefreshCcw"
        color="info"
      />

      <!-- Delete -->
      <app-rounded-icon-button
        (clicked)="onDeleteClick()"
        [isDisabled]="isDeleteDisabled"
        icon="lucideTrash"
        color="danger"
      />
    </div>

    <!-- Sort -->
    <app-dropdown-button [label]="sortLabel">
      <ng-icon name="lucideFilter" size="16" dropdown-left-icon />
      <ng-icon name="lucideChevronDown" size="16" dropdown-right-icon />

      <!-- Menu Items -->
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByField('sort-all')"
          >{{ 'common.filters.all' | translate }}</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByField('sort-asc-by-company-name')"
          >{{ 'customers.fields.company-name' | translate }} (A → Z)</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByField('sort-desc-by-company-name')"
          >{{ 'customers.fields.company-name' | translate }} (Z → A)</a
        >
      </li>
    </app-dropdown-button>

    <!-- Filter -->
    <app-dropdown-button [label]="filterLabel">
      <ng-icon name="lucideFilter" size="16" dropdown-left-icon />
      <ng-icon name="lucideChevronDown" size="16" dropdown-right-icon />
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onFilterByField('filter-by-all')"
          >{{ 'common.filters.all' | translate }}</a
        >
      </li>
      @for (customerType of customerTypesData; track $index) {
        <li dropdown-menu-item>
          <a
            class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
            (click)="onFilterByField(`filter-by-customer-type-${customerType.toLowerCase()}`)"
          >
            {{ 'metadata.customers-types.' + customerType.toLowerCase() | translate }}
          </a>
        </li>
      }
    </app-dropdown-button>
  </div>
</div>
