<table class="text-body w-full text-left text-sm whitespace-nowrap rtl:text-right">
  @if (isLoading) {
    <app-loading-spinner />
  }
  <thead class="text-body bg-secondary-700 text-sm text-white">
    <tr>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'common.fields.number' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'shipments.fields.pickup' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'common.fields.status' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'shipments.fields.quote' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'shipments.fields.driver' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'shipments.fields.truck' | translate }}</th>
      <th scope="col" class="px-2 py-3 font-medium">
        {{ 'shipments.fields.trailer' | translate }}
      </th>
      <th scope="col" class="px-2 py-3 font-medium">{{ 'common.actions.action' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (shipment of shipments; track shipment.id) {
      <tr>
        <td class="px-2 py-4">
          <a class="hover:underline" [routerLink]="['view-shipment', shipment.id]">{{
            shipment.number
          }}</a>
        </td>

        <td class="px-2 py-4">{{ shipment.pickup | date: 'dd/MM/yyyy - h:mm a' }}</td>
        <td class="px-2 py-4">
          <span
            class="rounded border px-2 capitalize"
            [ngClass]="shipmentStatusBadgeColor(shipment.status.label)"
          >
            {{ 'metadata.shipments-statuses.' + shipment.status.label.toLowerCase() | translate }}
          </span>
        </td>
        <td class="px-2 py-4">{{ shipment.quote.number }}</td>
        <td class="px-2 py-4">{{ shipment.driver?.fullName || '-' }}</td>
        <td class="px-2 py-4">{{ shipment.truck?.plate || '-' }}</td>
        <td class="px-2 py-4">{{ shipment.trailer?.plate || '-' }}</td>

        <td class="flex gap-2 px-2 py-4">
          @if (shipment.status.isEditable) {
            <a
              [routerLink]="['edit-shipment', shipment.id]"
              class="text-fg-brand font-medium hover:underline"
              >{{ 'common.actions.edit' | translate }}</a
            >
          } @else {
            <span class="text-gray-400">-</span>
          }
        </td>
      </tr>
    } @empty {
      <tr>
        <td class="w-full py-4 text-center text-lg" colspan="7">
          @if (errorMessage) {
            <span class="bg-danger-light text-danger-dark border-danger rounded border px-2">{{
              errorMessage
            }}</span>
          } @else {
            {{ 'shipments.empty-state' | translate }}
          }
        </td>
      </tr>
    }
  </tbody>
</table>
