<div class="mx-auto mt-6 max-w-xl rounded-lg bg-white p-6 shadow-lg shadow-black/10">
  <h2 class="mb-4 text-center text-3xl font-semibold">
    @if (formUsage === 'create') {
      {{ 'users.actions.create' | translate }}
    } @else {
      {{ 'users.actions.update' | translate }}
    }
  </h2>

  @if (isLoading || roleIsLoading) {
    <app-loading-spinner />
  }

  <div class="mb-5">
    @if (errorMessage) {
      <app-error-alert [errorMessage]="errorMessage" />
    }
  </div>

  <div class="mb-5">
    @if (roleErrorMessage) {
      <app-error-alert [errorMessage]="roleErrorMessage | translate" />
    }
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <app-main-input
        formControlName="firstName"
        [label]="'users.fields.first-name' | translate"
        [placeholder]="'users.fields.first-name' | translate"
        type="text"
        [showRequiredStar]="true"
      />
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="lastName"
        [label]="'users.fields.last-name' | translate"
        [placeholder]="'users.fields.last-name' | translate"
        type="text"
        [showRequiredStar]="true"
      />
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="email"
        label="Email"
        placeholder="Email"
        type="email"
        [showRequiredStar]="true"
      />
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="phone"
        [label]="'users.fields.phone' | translate"
        [placeholder]="'users.fields.phone' | translate"
        type="text"
      />
    </div>

    <div class="mb-6">
      <label for="role"
        ><span class="text-danger mr-1 text-sm">*</span>{{ 'users.fields.role' | translate }}</label
      >
      <select
        formControlName="roleId"
        id="role"
        class="focus:ring-primary-200 w-full rounded border border-gray-300 px-4 py-2 text-gray-700 focus:ring focus:outline-none"
      >
        <option [ngValue]="null" disabled>{{ 'users.messages.select-role' | translate }}</option>

        @for (role of roles; track role.id) {
          <option [ngValue]="role.id">{{ role.name }}</option>
        } @empty {
          <option disabled>{{ 'users.messages.roles-empty-state' | translate }}</option>
        }
      </select>
      @if (roleId.invalid && (roleId.dirty || roleId.touched)) {
        <div>
          @if (roleId.hasError('required')) {
            <span class="text-danger ml-1 text-sm">{{
              'users.messages.role-required' | translate
            }}</span>
          }
        </div>
      }
    </div>
    @if (formUsage === 'create') {
      <app-primary-button [value]="'users.actions.create' | translate" [isDisabled]="isLoading" />
    } @else {
      <app-primary-button [value]="'users.actions.update' | translate" [isDisabled]="isLoading" />
    }
  </form>
</div>
