<div [formGroup]="parentForm">
  <h3 class="mb-4 text-lg font-semibold">{{ 'common.messages.basic-info' | translate }}</h3>
  <!-- Customer Search -->
  <div class="mb-6">
    <label for="customerId" (click)="onClickFocusCustomersSelect()" class="mb-1 block">
      <span class="text-danger mr-1 text-sm">*</span>{{ 'quotes.fields.customer' | translate }}
    </label>
    <ng-select
      #customerSelect
      class="tw-select"
      [placeholder]="'quotes.filters.search-customer' | translate"
      bindLabel="companyName"
      bindValue="id"
      formControlName="customerId"
      [loadingText]="('quotes.messages.loading-customers' | translate) + '...'"
      [notFoundText]="'common.errors.no-results' | translate"
      [items]="customersList"
      [loading]="customersLoading"
      [typeahead]="customerSearch$"
      [searchable]="true"
      [clearable]="true"
    ></ng-select>
    @if (customerId.invalid && (customerId.dirty || customerId.touched)) {
      <div>
        @if (customerId.hasError('required')) {
          <span class="text-danger mt-1 ml-1 text-sm">{{
            'quotes.messages.required-customer' | translate
          }}</span>
        }
      </div>
    }
  </div>

  <div class="mb-6 flex gap-2">
    <app-main-input
      formControlName="origin"
      [label]="'quotes.fields.origin' | translate"
      [placeholder]="'quotes.fields.placeholders.origin' | translate"
      type="text"
      [showRequiredStar]="true"
      class="flex-1"
    />

    <app-main-input
      formControlName="destination"
      [label]="'quotes.fields.destination' | translate"
      [placeholder]="'quotes.fields.placeholders.destination' | translate"
      type="text"
      [showRequiredStar]="true"
      class="flex-1"
    />
  </div>
  <div class="mb-6">
    <app-main-input
      formControlName="validityDays"
      [label]="'quotes.fields.validity-days' | translate"
      [placeholder]="'quotes.fields.placeholders.validity-days' | translate"
      type="text"
      [showRequiredStar]="true"
      [patternErrorMessage]="'common.validation.must-be-number' | translate"
    />
  </div>
</div>
