<div class="flex items-center justify-between space-x-4 p-4">
  <app-search-bar
    [placeholder]="'shipments.filters.search-by-shipment-number' | translate"
    [value]="searchTerm"
    (valueChange)="onSearchChange($event)"
  />

  <div class="flex items-center gap-6">
    <div class="flex items-center gap-4">
      @if (showCreateButton) {
        <!-- Add -->
        <app-rounded-icon-button routerLink="create-shipment" icon="lucidePlus" color="success" />
      }

      <!-- Refresh -->
      <app-rounded-icon-button
        (clicked)="loadShipments()"
        [isDisabled]="isLoading"
        icon="lucideRefreshCcw"
        color="info"
      />
    </div>

    <!-- Sort -->
    <app-dropdown-button [label]="sortLabel">
      <ng-icon name="lucideFilter" size="16" dropdown-left-icon />
      <ng-icon name="lucideChevronDown" size="16" dropdown-right-icon />

      <!-- Menu Items -->
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByFieldClick('sort-all')"
          >{{ 'common.filters.all' | translate }}</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByFieldClick('sort-asc-by-number')"
          >{{ 'common.fields.number' | translate }} (A → Z)</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByFieldClick('sort-desc-by-number')"
          >{{ 'common.fields.number' | translate }} (Z → A)</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByFieldClick('sort-asc-by-pickup')"
          >{{ 'shipments.fields.pickup' | translate }} (A → Z)</a
        >
      </li>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onSortByFieldClick('sort-desc-by-pickup')"
          >{{ 'shipments.fields.pickup' | translate }} (Z → A)</a
        >
      </li>
    </app-dropdown-button>

    <!-- Filter -->
    <app-dropdown-button [label]="filterLabel">
      <ng-icon name="lucideFilter" size="16" dropdown-left-icon></ng-icon>
      <ng-icon name="lucideChevronDown" size="16" dropdown-right-icon></ng-icon>
      <li dropdown-menu-item>
        <a
          class="inline-flex w-full items-center p-2 text-sm text-gray-600 hover:cursor-pointer hover:text-black"
          (click)="onFilterByFieldClick('filter-by-all')"
          >{{ 'common.filters.all' | translate }}</a
        >
      </li>
      @for (status of shipmentStatuses; track $index) {
        <li dropdown-menu-item>
          <a
            class="inline-flex w-full items-center p-2 text-sm text-gray-600 capitalize hover:cursor-pointer hover:text-black"
            (click)="onFilterByFieldClick(`filter-by-shipment-status-${status.label}`)"
          >
            {{ 'metadata.shipments-statuses.' + status.label.toLowerCase() | translate }}
          </a>
        </li>
      }
    </app-dropdown-button>

    @if (showDatesFilters) {
      <!-- Date Pickers -->
      <div class="flex gap-4">
        <div class="flex items-center gap-2">
          <label for="pickup-from">{{ 'common.messages.from' | translate }}</label>
          <input
            id="pickup-from"
            type="datetime-local"
            class="focus:ring-primary-200 rounded-md border px-4 py-2 text-xs font-medium text-gray-400 shadow-xs hover:cursor-pointer hover:text-gray-700 md:text-sm"
            [(ngModel)]="pickupFrom"
            (ngModelChange)="onPickupFromChange($event)"
          />
        </div>
        <div class="flex items-center gap-2">
          <label for="pickup-to">{{ 'common.messages.to' | translate }}</label>
          <input
            id="pickup-to"
            type="datetime-local"
            class="focus:ring-primary-200 rounded-md border px-4 py-2 text-xs font-medium text-gray-400 shadow-xs hover:cursor-pointer hover:text-gray-700 md:text-sm"
            [(ngModel)]="pickupTo"
            (ngModelChange)="onPickupToChange($event)"
          />
        </div>
      </div>
    }
  </div>
</div>
