<section class="flex min-h-screen items-center justify-center">
  @if (isLoading) {
    <app-loading-spinner />
  }

  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-4 text-center text-3xl font-semibold">
      {{ 'auth.setup-password.title' | translate }}
    </h2>
    <div class="mb-5">
      @if (errorMessage) {
        <app-error-alert [errorMessage]="errorMessage | translate" />
      }
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <app-main-input
          [label]="'auth.password' | translate"
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>
      <app-primary-button
        [value]="'auth.setup-password.button' | translate"
        [isDisabled]="isLoading"
      />
    </form>
  </div>
</section>
