<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Customer Dropdown -->
  <div class="my-8">
    <label for="customerId" (click)="onClickFocusCustomersSelect()" class="mb-2 block font-medium">
      <span class="text-danger mr-1 text-sm">*</span>{{ 'payments.fields.customer' | translate }}
    </label>
    <ng-select
      #customerSelect
      class="tw-select"
      [placeholder]="'payments.fields.placeholders.search-customer' | translate"
      bindLabel="companyName"
      bindValue="id"
      formControlName="customerId"
      [loadingText]="('payments.messages.loading-customers' | translate) + '...'"
      [notFoundText]="'common.errors.no-results' | translate"
      [items]="customersList"
      [loading]="customersLoading"
      [typeahead]="customerSearch$"
      [searchable]="true"
      [clearable]="true"
    />
    @if (customerId.invalid && (customerId.dirty || customerId.touched)) {
      <div>
        @if (customerId.hasError('required')) {
          <span class="text-danger mt-1 ml-1 text-sm">{{
            'payments.messages.required-customer' | translate
          }}</span>
        }
      </div>
    }
  </div>

  <!-- Files -->
  <div class="mb-8 grid grid-cols-1 gap-6 md:grid-cols-2">
    <!-- Invoice -->
    <div>
      <div class="flex items-center justify-between">
        <h3 class="mb-2 font-medium">
          <span class="text-danger mr-1 text-sm">*</span
          >{{ 'payments.fields.invoices' | translate }}
        </h3>
        <span class="text-sm text-zinc-500"
          >{{ 'common.messages.from' | translate }} Epsilon Smart</span
        >
      </div>
      <app-file-dropzone
        [showMaxFileSize]="false"
        supportedFiles=".xlsx"
        (fileSelected)="onInvoicesFileSelected($event)"
      />
      @if (invoiceFile.invalid && (invoiceFile.dirty || invoiceFile.touched)) {
        <div>
          @if (invoiceFile.hasError('required')) {
            <span class="text-danger mt-1 ml-1 text-sm">{{
              'payments.messages.required-invoice-file' | translate
            }}</span>
          }
        </div>
      }
    </div>

    <!-- Bank Statement -->
    <div>
      <div class="flex items-center justify-between">
        <h3 class="mb-2 font-medium">
          <span class="text-danger mr-1 text-sm">*</span
          >{{ 'payments.fields.bank-statement' | translate }}
        </h3>
        <span class="text-sm text-zinc-500"
          >{{ 'common.messages.from' | translate }} {{ 'common.banks.nbg' | translate }}</span
        >
      </div>
      <app-file-dropzone
        [showMaxFileSize]="false"
        supportedFiles=".xlsx"
        (fileSelected)="onBankFileSelected($event)"
      />
      @if (bankStatementFile.invalid && (bankStatementFile.dirty || bankStatementFile.touched)) {
        <div>
          @if (bankStatementFile.hasError('required')) {
            <span class="text-danger mt-1 ml-1 text-sm">{{
              'payments.messages.required-bank-statement-file' | translate
            }}</span>
          }
        </div>
      }
    </div>
  </div>

  <!-- Info Message -->
  <div
    class="mb-8 flex max-w-6xl flex-wrap items-center gap-2 rounded border border-blue-200 bg-blue-50 px-4 py-2 text-blue-800"
  >
    <ng-icon name="lucideInfo" color="#52525c" />

    <div class="text-sm leading-relaxed text-zinc-600">
      <p>
        {{ 'payments.messages.reconciliation-note-one' | translate }}
      </p>
      <p>{{ 'payments.messages.reconciliation-note-two' | translate }}</p>
    </div>
  </div>

  <!-- Process Button -->
  <app-primary-button [value]="'payments.actions.start-process' | translate" />
</form>
