<div class="border-secondary-200 bg-secondary-100 rounded border px-2 py-4">
  <div class="flex justify-between">
    <h2 class="text-lg font-semibold">
      {{ shipment.number }}
    </h2>

    <!-- Shipment status badge -->
    @if (!shipment.status.isFinalized) {
      <select
        class="rounded border px-2"
        [ngClass]="shipmentStatusBadgeColor(shipment.status.label)"
        [ngModel]="
          editingShipmentId === shipment.id ? pendingShipmentStatus : shipment.status.label
        "
        (ngModelChange)="onStatusChange(shipment, $event)"
      >
        <option [value]="shipment.status.label" selected disabled hidden>
          {{ 'metadata.shipments-statuses.' + shipment.status.label.toLowerCase() | translate }}
        </option>
        @for (status of shipmentStatuses; track $index) {
          @if (status.label.toLowerCase() !== shipment.status.label.toLowerCase()) {
            <option [value]="status.label">
              {{ 'metadata.shipments-statuses.' + status.label.toLowerCase() | translate }}
            </option>
          }
        }
      </select>
    } @else {
      <span
        class="block rounded border px-2 capitalize"
        [ngClass]="shipmentStatusBadgeColor(shipment.status.label)"
      >
        {{ 'metadata.shipments-statuses.' + shipment.status.label.toLowerCase() | translate }}
      </span>
    }
  </div>

  <!-- Pickup -->
  <div>
    <p class="mt-2 text-sm">
      <span class="text-zinc-500">{{ 'shipments.fields.pickup' | translate }} -- </span>
      {{ shipment.pickup | date: 'dd/MM/yyyy · h:mm a' }}
    </p>
    <div class="rounde mt-1 h-px w-full bg-zinc-300"></div>
  </div>

  <!-- Extra Details -->
  <div class="mt-2 grid grid-cols-1 gap-1 sm:grid-cols-3">
    <p class="text-sm">
      <span class="text-zinc-500">{{ 'shipments.fields.driver' | translate }}: </span
      >{{ shipment.driver?.fullName || ('common.fields.unassigned' | translate) }}
    </p>
    <p class="text-sm">
      <span class="text-zinc-500">{{ 'shipments.fields.truck-plate' | translate }}: </span
      >{{ shipment.truck?.plate || ('common.fields.unassigned' | translate) }}
    </p>
    <p class="text-sm">
      <span class="text-zinc-500">{{ 'shipments.fields.trailer-plate' | translate }}: </span
      >{{ shipment.trailer?.plate || ('common.fields.unassigned' | translate) }}
    </p>
  </div>
</div>
