@import 'tailwindcss';
@import '@ng-select/ng-select/themes/default.theme.css';

@theme {
  /* Primary Colors */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  /* Secondary Colors */
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #94a3b8;
  --color-secondary-500: #64748b;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;

  /* Semantic Colors */
  --color-success: #10b981;
  --color-success-light: #d1fae5;
  --color-success-dark: #059669;

  --color-warning: #f59e0b;
  --color-warning-light: #fed7aa;
  --color-warning-dark: #d97706;

  --color-danger: #ef4444;
  --color-danger-light: #fee2e2;
  --color-danger-dark: #dc2626;

  --color-info: #06b6d4;
  --color-info-light: #cffafe;
  --color-info-dark: #0891b2;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f8fafc;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}

/* Overrides Tailwind for Ngx Editor Component */
.NgxEditor__Content ul {
  list-style: disc !important;
  margin-left: 1.5rem;
}

.NgxEditor__Content ol {
  list-style: decimal !important;
  margin-left: 1.5rem;
}

.NgxEditor__Content {
  min-height: 120px;
  padding: 10px;
}

.NgxEditor__Content:focus {
  border: 1px solid var(--color-primary-200);
  outline: none;
}

/* Ng Select */
/* Base container */
.tw-select .ng-select-container {
  @apply rounded border border-gray-300 bg-white px-4 py-2 text-gray-700;
  @apply focus-within:border-primary-200 focus:ring focus:outline-none;
}

/* Placeholder */
.tw-select .ng-select-container .ng-value-placeholder {
  @apply text-gray-400;
}

/* Arrow icon positioning */
.tw-select .ng-arrow-wrapper {
  @apply right-3;
}

.ng-select.tw-select.ng-select-focused .ng-select-container {
  @apply border-primary-200 ring-primary-200 ring-1 ring-offset-0;
  outline: none !important;
}

.ng-select.tw-select:focus {
  outline: none !important;
}

/* Dropdown panel styling */
.tw-select .ng-dropdown-panel {
  @apply mt-1 rounded border border-gray-200 bg-white;
}

/* Items styling */
.tw-select .ng-option {
  @apply cursor-pointer px-3 py-2 text-gray-700 hover:bg-gray-100;
}

/* Selected option */
.tw-select .ng-option-selected {
  @apply bg-primary-50 font-medium;
}

/* Highlighted option with keyboard/mouse */
.tw-select .ng-option-marked {
  @apply bg-secondary-200;
}

.tw-select .ng-clear-wrapper {
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}
