<section class="flex items-center justify-center min-h-screen">
  @if (isLoading) { <app-loading-spinner></app-loading-spinner> }

  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
    <h2 class="mb-4 text-3xl font-semibold text-center">Setup Password</h2>
    <div class="mb-5">
      @if (errorMessage) {
      <span class="block w-full p-1.5 text-center rounded-md text-danger bg-danger-light">{{
        errorMessage
      }}</span>
      }
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="password" class="block mb-1">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Password"
          formControlName="password"
          class="w-full px-4 py-2 text-gray-700 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-primary-200"
        />
        @if (password.invalid && (password.dirty || password.touched)) {
        <div>
          @if (password.hasError('required')) {
          <span class="ml-1 text-sm text-danger">Password is required</span>
          }
        </div>
        }
      </div>

      <app-primary-button value="Setup Password" [isDisabled]="!form.valid"></app-primary-button>
    </form>
  </div>
</section>
