<section class="flex min-h-screen items-center justify-center">
  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  }

  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-4 text-center text-3xl font-semibold">Setup Password</h2>
    <div class="mb-5">
      @if (errorMessage) {
        <span class="text-danger bg-danger-light block w-full rounded-md p-1.5 text-center">{{
          errorMessage
        }}</span>
      }
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <app-main-input
          label="Password"
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>
      <app-primary-button value="Setup Password" [isDisabled]="isLoading"></app-primary-button>
    </form>
  </div>
</section>
