<section class="flex min-h-screen items-center justify-center">
  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  }

  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-4 text-center text-3xl font-semibold">
      @if (successMessage) {
        Check your email
      } @else {
        Forgot Password
      }
    </h2>

    <div class="mb-5">
      @if (errorMessage) {
        <span class="text-danger bg-danger-light block w-full rounded-md p-1.5 text-center">{{
          errorMessage
        }}</span>
      }
    </div>

    <div class="mb-5">
      @if (successMessage) {
        <span class="text-success bg-success-light block w-full rounded-md p-1.5 text-center">{{
          successMessage
        }}</span>
      }
    </div>

    @if (!successMessage) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <app-main-input label="Email" placeholder="Email" type="email" formControlName="email" />
        </div>
        <app-primary-button value="Forgot Password" [isDisabled]="isLoading"></app-primary-button>
      </form>
    }

    <a routerLink="/login" class="mt-4 block text-center text-sm hover:underline">Back to Login</a>
  </div>
</section>
