<section class="flex min-h-screen items-center justify-center">
  @if (isLoading) {
    <app-loading-spinner />
  }

  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-4 text-center text-3xl font-semibold">
      @if (successMessage) {
        {{ 'auth.forgot-password.check-your-email' | translate }}
      } @else {
        {{ 'auth.forgot-password.title' | translate }}
      }
    </h2>

    <div class="mb-5">
      @if (errorMessage) {
        <app-error-alert [errorMessage]="errorMessage | translate" />
      }
    </div>

    <div class="mb-5">
      @if (successMessage) {
        <span class="text-success bg-success-light block w-full rounded-md p-1.5 text-center">{{
          successMessage | translate
        }}</span>
      }
    </div>

    @if (!successMessage) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <app-main-input label="Email" placeholder="Email" type="email" formControlName="email" />
        </div>
        <app-primary-button
          [value]="'common.actions.submit' | translate"
          [isDisabled]="isLoading"
        />
      </form>
    }

    <a routerLink="/login" class="mt-4 block text-center text-sm hover:underline">{{
      'auth.back-to-login' | translate
    }}</a>
  </div>
</section>
