<div>
  @if (isQuotesLoading) {
    <app-loading-spinner />
  }
</div>

<!-- Modals -->
<app-modal-file [isEnabled]="isModalOpen" [pdfUrl]="pdfUrl" (closeModal)="closeQuote()" />
<app-modal
  icon="lucideAlertTriangle"
  color="warning"
  [isEnabled]="isQuotesStatusModalEnabled"
  [header]="quoteStatusModalHeader"
  [message]="quoteStatusModalMessage"
  (confirmClick)="onQuotesStatusModalConfirmClick()"
  (cancelClick)="onQuotesStatusModalCancelClick()"
  (closeModalClick)="onQuotesStatusModalCancelClick()"
/>
<!-- Filters -->
<div>
  <app-quotes-filters
    searchPlaceholder="Search by Number"
    [createButton]="false"
    [sortLabel]="activeSortLabel"
    [filterLabel]="activeFilterLabel"
    (searchChanged)="onSearchChanged($event)"
    (refresh)="onRefresh()"
    (sortBy)="onSort($event)"
    (filterBy)="onFilter($event)"
  />
</div>
<!-- Main content -->
<div class="flex flex-col" [ngClass]="{ 'min-h-[630px]': quotes.length > 0 }">
  <!-- Errors -->
  @if (errorMessage) {
    <app-error-alert [errorMessage]="errorMessage" />
  }

  @if (quotesErrorMessage) {
    <app-error-alert [errorMessage]="quotesErrorMessage" />
  }

  <!-- Cards -->
  @if (!isQuotesLoading && !errorMessage && quotes.length === 0) {
    <div class="text-secondary-500 p-6 text-center">No quotes yet</div>
  } @else {
    <div class="flex flex-1 flex-col gap-4 px-2">
      @for (quote of quotes; track quote.id) {
        <app-quote-card
          [quote]="quote"
          [finalizedQuotesStatuses]="finalizedStatuses"
          [pendingStatus]="pendingStatus"
          [editingQuoteId]="editingQuoteId"
          [quotesStatuses]="quotesStatuses"
          (onViewQuote)="openQuote(quote.id)"
          (onStatus)="handleQuotesStatusModal($event.quote, $event.newStatus)"
        />
      }
    </div>

    <!-- Pagination -->
    <div class="mt-auto">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [totalElements]="totalElements"
        [pageSize]="pageSize"
        (pageChanged)="onPageChange($event)"
      />
    </div>
  }
</div>
