<div class="mx-auto mt-6 max-w-xl rounded-lg bg-white p-6 shadow-lg shadow-black/10">
  <h2 class="mb-4 text-center text-3xl font-semibold">
    @if (formUsage === 'create') {
      {{ 'customers.actions.create' | translate }}
    } @else {
      {{ 'customers.actions.update' | translate }}
    }
  </h2>

  @if (isLoading) {
    <app-loading-spinner />
  }

  <div class="mb-5">
    @if (errorMessage) {
      <app-error-alert [errorMessage]="errorMessage" />
    }
  </div>
  <div class="mb-5">
    @if (customerTypesError) {
      <app-error-alert [errorMessage]="customerTypesError | translate" />
    }
  </div>

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <app-main-input
        formControlName="companyName"
        [label]="'customers.fields.company-name' | translate"
        [placeholder]="'customers.fields.placeholders.company-name' | translate"
        type="text"
        [showRequiredStar]="true"
      />
    </div>

    <div class="mb-6">
      <label for="role"
        ><span class="text-danger mr-1 text-sm">*</span
        >{{ 'customers.fields.customer-type' | translate }}</label
      >
      <select
        formControlName="customerType"
        id="role"
        class="focus:ring-primary-200 w-full rounded border border-gray-300 px-4 py-2 text-gray-700 focus:ring focus:outline-none"
      >
        <option [ngValue]="null" disabled>
          {{ 'customers.messages.select-customer-type' | translate }}
        </option>

        @for (customerType of customerTypes; track $index) {
          <option [ngValue]="customerType">
            {{ 'metadata.customers-types.' + customerType.toLowerCase() | translate }}
          </option>
        } @empty {
          <option disabled>
            {{ 'customers.messages.no-customer-types-availble' | translate }}
          </option>
        }
      </select>
      @if (customerType.invalid && (customerType.dirty || customerType.touched)) {
        <div>
          @if (customerType.hasError('required')) {
            <span class="text-danger ml-1 text-sm">{{
              'customers.messages.customer-type-required' | translate
            }}</span>
          }
        </div>
      }
    </div>
    @if (formUsage === 'create') {
      <div class="mb-6">
        <app-main-input
          formControlName="tin"
          [label]="'customers.fields.tin' | translate"
          [placeholder]="'customers.fields.placeholders.tin' | translate"
          type="text"
          [patternErrorMessage]="'common.validation.digits-long' | translate: { number: 9 }"
          [showRequiredStar]="true"
        />
      </div>
    }
    <div class="mb-6 flex flex-col gap-6 sm:flex-row sm:gap-8">
      <app-main-input
        formControlName="firstName"
        [label]="'common.fields.first-name' | translate"
        [placeholder]="'common.fields.placeholders.first-name' | translate"
        type="text"
        [showRequiredStar]="true"
      />
      <app-main-input
        formControlName="lastName"
        [label]="'common.fields.last-name' | translate"
        [placeholder]="'common.fields.placeholders.last-name' | translate"
        type="text"
        [showRequiredStar]="true"
      />
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="email"
        label="Email"
        [placeholder]="'common.fields.placeholders.email' | translate"
        type="email"
      />
    </div>

    <div class="mb-6">
      <app-main-input
        formControlName="location"
        [label]="'customers.fields.location' | translate"
        [placeholder]="'customers.fields.placeholders.location' | translate"
        type="text"
      />
    </div>
    <div class="mb-6">
      <app-main-input
        formControlName="phone"
        [label]="'common.fields.phone' | translate"
        [placeholder]="'common.fields.placeholders.phone' | translate"
        type="text"
      />
    </div>
    @if (formUsage === 'create') {
      <app-primary-button
        [value]="'customers.actions.create' | translate"
        [isDisabled]="isLoading"
      />
    } @else {
      <app-primary-button
        [value]="'customers.actions.update' | translate"
        [isDisabled]="isLoading"
      />
    }
  </form>
</div>
