<div class="mx-auto mt-6 max-w-6xl rounded-lg bg-white p-6 shadow-lg shadow-black/10">
  <h2 class="mb-4 text-center text-3xl font-semibold">
    @if (formUsage === 'create') {
      {{ 'shipments.actions.create' | translate }}
    } @else {
      {{ 'shipments.actions.update' | translate }}
    }
  </h2>

  @if (isLoading) {
    <app-loading-spinner />
  }

  <div class="mb-5">
    @if (errorMessage) {
      <app-error-alert [errorMessage]="errorMessage | translate" />
    }
  </div>

  <div class="mb-5">
    @if (uiErrorMessage) {
      <app-error-alert [errorMessage]="uiErrorMessage | translate" />
    }
  </div>

  <form [formGroup]="shipmentForm" (ngSubmit)="onSubmitClick()" class="flex flex-col gap-6">
    <!-- Basic Information -->
    <div>
      <!-- Header -->
      <h3 class="mb-4 text-lg text-zinc-600">{{ 'common.messages.basic-info' | translate }}</h3>

      <div class="flex gap-2">
        <!-- Quote Dropdown -->
        <div class="flex-1">
          <label for="quoteId" (click)="onClickFocusQuoteIdSelect()" class="">
            <span class="text-danger mr-1 text-sm">*</span
            >{{ 'shipments.fields.quote' | translate }}
          </label>
          <ng-select
            #quoteIdSelect
            class="tw-select"
            [placeholder]="'shipments.filters.search-quote' | translate"
            bindLabel="number"
            bindValue="id"
            formControlName="quoteId"
            [loadingText]="('shipments.messages.quotes.loading' | translate) + '...'"
            [notFoundText]="'common.errors.no-results' | translate"
            [items]="quotesList"
            [loading]="quotesLoading"
            [typeahead]="quoteSearch$"
            [searchable]="true"
            [clearable]="true"
          />

          @if (quoteId.invalid && (quoteId.dirty || quoteId.touched)) {
            <div>
              @if (quoteId.hasError('required')) {
                <span class="text-danger mt-1 ml-1 text-sm">{{
                  'shipments.messages.quotes.required' | translate
                }}</span>
              }
            </div>
          }
        </div>

        <!-- Pickup -->
        <div class="flex-1">
          <app-main-input
            type="datetime-local"
            formControlName="pickup"
            [label]="'shipments.fields.pickup' | translate"
            [showRequiredStar]="true"
          />
        </div>
      </div>
    </div>

    <!-- Fleet Assignment -->
    <div>
      <!-- Header -->
      <h3 class="mb-2 text-lg text-zinc-600">
        {{ 'shipments.messages.fleet-assignment' | translate }}
      </h3>
      <div class="flex gap-2">
        <!-- Driver -->
        <div class="flex-1">
          <label for="driverId" (click)="onClickFocusDriverIdSelect()" class="mb-1 block">
            {{ 'shipments.fields.driver' | translate }}
          </label>
          <ng-select
            #driverIdSelect
            class="tw-select w-full"
            [placeholder]="'shipments.filters.search-driver' | translate"
            bindLabel="fullName"
            bindValue="id"
            formControlName="driverId"
            [loadingText]="('shipments.messages.loading-drivers' | translate) + '...'"
            [notFoundText]="'common.errors.no-results' | translate"
            [items]="driversList"
            [loading]="driverLoading"
            [typeahead]="driverSearch$"
            [searchable]="true"
            [clearable]="true"
          />
        </div>

        <!-- Truck -->
        <div class="flex-1">
          <label for="truckId" (click)="onClickFocusTruckIdSelect()" class="mb-1 block">
            {{ 'shipments.fields.truck' | translate }}
          </label>
          <ng-select
            #truckIdSelect
            class="tw-select w-full"
            [placeholder]="'shipments.filters.search-truck' | translate"
            bindLabel="plate"
            bindValue="id"
            formControlName="truckId"
            [loadingText]="('shipments.messages.loading-trucks' | translate) + '...'"
            [notFoundText]="'common.errors.no-results' | translate"
            [items]="truckList"
            [loading]="truckLoading"
            [typeahead]="truckSearch$"
            [searchable]="true"
            [clearable]="true"
          />
        </div>

        <!-- Trailer -->
        <div class="flex-1">
          <label for="trailerId" (click)="onClickFocusTrailerIdSelect()" class="mb-1 block">
            {{ 'shipments.fields.trailer' | translate }}
          </label>
          <ng-select
            #trailerIdSelect
            class="tw-select w-full"
            [placeholder]="'shipments.filters.search-trailer' | translate"
            bindLabel="plate"
            bindValue="id"
            formControlName="trailerId"
            [loadingText]="('shipments.messages.loading-trailers' | translate) + '...'"
            [notFoundText]="'common.errors.no-results' | translate"
            [items]="trailerList"
            [loading]="trailerLoading"
            [typeahead]="trailerSearch$"
            [searchable]="true"
            [clearable]="true"
          />
        </div>
      </div>
    </div>

    <!-- Cargo Items -->
    <div>
      <div class="mb-2 flex justify-between">
        <!-- Header -->
        <h3 class="text-lg text-zinc-600">
          {{ 'shipments.fields.cargo-items.title' | translate }}
        </h3>

        <!-- Cargo Item Add Button -->
        <app-rounded-icon-button
          icon="lucidePlus"
          color="success"
          type="button"
          (clicked)="onClickAddCargoItem()"
        />
      </div>

      <!-- Cargo Items Table  -->
      <div>
        @if (cargoItems.length > 0) {
          @if (isFormSubmitted && cargoItems.length > 0 && hasCargoItemsErrors()) {
            <div class="mb-3 max-w-sm">
              <app-error-alert [errorMessage]="'common.validation.required-fields' | translate" />
            </div>
          }

          <div class="overflow-hidden rounded border border-zinc-300">
            <table class="w-full text-sm">
              <!-- Table Headers -->
              <thead class="bg-zinc-50 text-xs text-zinc-500 uppercase">
                <tr>
                  <th class="w-20 py-2">#</th>
                  <th class="px-4">
                    <span class="text-danger mr-1 text-sm">*</span
                    >{{ 'shipments.fields.cargo-items.description' | translate }}
                  </th>
                  <th class="w-40 py-2">
                    <span class="text-danger mr-1 text-sm">*</span
                    >{{ 'shipments.fields.cargo-items.unit' | translate }}
                  </th>
                  <th class="w-32 py-2">
                    <span class="text-danger mr-1 text-sm">*</span
                    >{{ 'shipments.fields.cargo-items.quantity' | translate }}
                  </th>
                  <th class="w-40 py-2">
                    <span class="text-danger mr-1 text-sm">*</span
                    >{{ 'shipments.fields.cargo-items.weight' | translate }} (KG)
                  </th>
                  <th class="w-40 py-2">
                    {{ 'shipments.fields.cargo-items.volume' | translate }} (m³)
                  </th>
                  <th class="w-40 py-2">{{ 'common.actions.delete' | translate }}</th>
                </tr>
              </thead>

              <tbody formArrayName="cargoItems">
                <!-- Table Data (Dynamic) -->
                @for (item of cargoItems.controls; track item; let i = $index) {
                  <tr class="border-t border-zinc-200" [formGroupName]="i">
                    <!-- Index -->
                    <td class="px-3 py-2 text-center text-zinc-400">{{ i + 1 }}</td>

                    <!-- Description -->
                    <td class="px-3 py-2 text-center">
                      <app-main-input
                        formControlName="description"
                        [placeholder]="'metadata.cargo-items-units.pallet' | translate"
                        type="text"
                        [displayErrors]="false"
                        [highlightBorders]="true"
                      />
                    </td>

                    <!-- Unit -->
                    <td class="px-3 py-2 text-center">
                      <select
                        formControlName="unit"
                        [id]="'unit' + i"
                        class="focus:ring-primary-200 h-10 w-full rounded border border-gray-300 px-3 text-gray-700 focus:ring focus:outline-none"
                        [ngClass]="
                          getCargoItemUnitControl(i).invalid &&
                          (getCargoItemUnitControl(i).dirty || getCargoItemUnitControl(i).touched)
                            ? 'border-red-500 focus:ring-red-200'
                            : 'border-gray-300'
                        "
                      >
                        <option [ngValue]="null" disabled selected>
                          {{ 'shipments.messages.select-unit' | translate }}
                        </option>

                        @for (unit of cargoItemsUnits; track $index) {
                          <option [ngValue]="unit | lowercase">
                            {{ 'metadata.cargo-items-units.' + unit.toLowerCase() | translate }}
                          </option>
                        } @empty {
                          <option disabled>{{ 'shipments.units-empty-state' | translate }}</option>
                        }
                      </select>
                    </td>

                    <!-- Quantity -->
                    <td class="px-3 py-2 text-center">
                      <app-main-input
                        formControlName="quantity"
                        placeholder="1"
                        type="number"
                        min="1"
                        [patternErrorMessage]="'common.validation.must-be-number' | translate"
                        [displayErrors]="false"
                        [highlightBorders]="true"
                      />
                    </td>

                    <!-- Weight -->
                    <td class="px-3 py-2 text-center">
                      <app-main-input
                        formControlName="weightKg"
                        placeholder="200"
                        type="text"
                        [patternErrorMessage]="'common.validation.must-be-number' | translate"
                        [displayErrors]="false"
                        [highlightBorders]="true"
                      />
                    </td>

                    <!-- Volume -->
                    <td class="px-3 py-2 text-center">
                      <app-main-input
                        formControlName="volumeM3"
                        placeholder="200"
                        type="text"
                        [patternErrorMessage]="'common.validation.must-be-number' | translate"
                        [displayErrors]="false"
                        [highlightBorders]="true"
                      />
                    </td>

                    <td class="px-3 py-2">
                      <div class="flex justify-center">
                        <app-rounded-icon-button
                          type="button"
                          icon="lucideTrash"
                          color="danger"
                          iconSize="14"
                          (clicked)="onClickRemoveCargoIndex(i)"
                        />
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>
    </div>

    <!-- Notes -->
    <div>
      <label for="notes" class="mb-1 block">{{ 'shipments.fields.notes.title' | translate }}</label>
      <textarea
        formControlName="notes"
        id="notes"
        cols="20"
        rows="4"
        class="focus:ring-primary-200 placeholder:text-body w-full resize-none rounded border border-gray-300 px-4 py-2 text-gray-700 focus:ring focus:outline-none"
      ></textarea>
    </div>

    <!-- Button -->
    @if (formUsage === 'create') {
      <app-primary-button [value]="'shipments.actions.create' | translate" />
    } @else {
      <app-primary-button [value]="'shipments.actions.update' | translate" />
    }
  </form>
</div>
