<section>
  <div class="flex items-center justify-between">
    <h3 class="font-semibold">{{ 'common.fields.address' | translate }}</h3>
    <button
      type="button"
      (click)="onGoToStep.emit(1)"
      class="text-primary-600 text-sm hover:cursor-pointer hover:underline"
    >
      {{ 'common.actions.edit' | translate }}
    </button>
  </div>
  <div class="mt-2 grid grid-cols-1 gap-1">
    <app-review-field-item [label]="'common.fields.street' | translate" [value]="data.street" />
    <app-review-field-item
      [label]="'common.fields.street-number' | translate"
      [value]="data.streetNumber"
    />
    <app-review-field-item
      [label]="'common.fields.postal-code' | translate"
      [value]="data.postalCode"
    />
    <app-review-field-item [label]="'common.fields.region' | translate" [value]="data.region" />
    <app-review-field-item [label]="'common.fields.country' | translate" [value]="data.country" />
  </div>
</section>
